.section1 {
    float: left;
    height: 75px;
    width: 235px;
    font-family: Veranda;
  }
.headshot {
    float:right;
  }
h2{
    display: flex;
    justify-content:center;
}
body {
    background-color:forestgreen;
}